#mbox-overlay {
	z-index: 50000;
	background-color: #000;
	background-image: url(../img/grid.gif);
	cursor: pointer;

}

#mbox-mainbox {
	z-index: 50001;
	top: 10%;
	padding: 10px;
	background-color: #fff;
	min-width: 180px;

}

#mbox-mainbox.mbox-loading {
	background: #fff url(../img/milkslide/loading.gif) no-repeat 50% 50%
}

#mbox-filebox {
	
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 0;

}

#mbox-filebox img {
	display: block;
	border: 0;
	margin-left: auto;
    margin-right: auto;
}

#mbox-topbar {
	position: relative;
	width: 100%;
	height: 32px;
	padding-bottom: 5px
}

#mbox-bottom {
	position: relative;
	height: 65px;
 	padding: 5px 50px
}


#mbox-close {
	position: absolute;
	width: 32px;
	height: 32px;
	display: none;
	background-repeat: no-repeat;
	outline: 0;
	cursor: pointer;
	-webkit-user-select: none;
	right: 0;
	text-align: right;
	background-position: right top;
	bottom: 6px
}

#mbox-close:hover {
	color: #222
}

body #mbox-close {
	background-image: url(../img/milkslide/chiudi.png)
}

#mbox-prev {
	position: absolute;
	width: 36px;
	height: 42px;
	display: none;
	background-repeat: no-repeat;
	outline: 0;
	cursor: pointer;
	-webkit-user-select: none;
	left: 0;
	text-align: left;
	background-position: left top;
	top: 18px;
	background-image: url(../img/milkslide/prev.png)
}

#mbox-prev:hover {
	color: #222
}

#mbox-next {
	position: absolute;
	width: 36px;
	height: 42px;
	display: none;
	background-repeat: no-repeat;
	outline: 0;
	cursor: pointer;
	-webkit-user-select: none;
	right: 0;
	text-align: right;
	background-position: right top;
	top: 18px;
	background-image: url(../img/milkslide/next.png)
}

#mbox-next:hover {
	color: #222
}

#mbox-caption {
	padding-top: 15px;
	display: none;
	font-size: 14px;
	line-height: 1.4em;
	text-align: center;
	color: #666
}

#mbox-caption strong {
	font-weight: bold
}