html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,textarea,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparentu
}

article,aside,command,details,summary,figure,figcaption,footer,header,hgroup,mark,meter,nav,progress,ruby,rt,rp,section,time,wbr
	{
	display: block
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

ol,ul,li {
	list-style: none
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

html.full {
	height: 100%
}

body {
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: left;
	color: #222;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.clearfix_fill {
	zoom: 1
}

.clearfix_fill:before,.clearfix_fill:after {
	display: table;
	content: ""
}

.clearfix_fill:after {
	clear: both
}

a,a:hover,a:active,a:visited {
	color: #222
}

img {
	-ms-interpolation-mode: bicubic
}

.amp {
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: .8em;
	font-weight: normal;
	font-style: normal !important
}

.onlymobile {
	display: none
}

body>header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 225px;
	overflow: hidden;
	z-index: 2;
	background: #000
}

body>header>div {
	position: relative;
	width: 1000px;
	height: 225px;
	margin: 0 auto;
	z-index: 10
}

body>header>div>a {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 390px;
	height: 95px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../img/modified/luna4.png) no-repeat 0 0;
}

body>header>div nav#menu {
	position: absolute;
	float: left;
	bottom: 25px;
	right: 2px;
	width: auto;
	height: 35px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none
}

body>header>div nav#menu ul li {
	height: 35px;
	margin-left: 16px;
	display: block;
	float: left
}

body>header>div nav#menu ul li>a {
	display: block;
	float: left;
	padding: 8px 0 0;
	height: 27px;
	font-family: Helvetica, "Segoe UI", Tahoma, sans-serif;
	font-size: large;
	color: rgba(50, 50, 50, 0.9);
	text-decoration: none;
	text-shadow: -1px 0 rgba(200, 200, 200, 0.5), 0 1px
		rgba(200, 200, 200, 0.5), 1px 0 rgba(200, 200, 200, 0.5), 0 -1px
		rgba(200, 200, 200, 0.5);
	text-decoration: none;
}

body>header>div nav#menu span.toggler {
	display: none
}

body>header>div nav#menu ul li>a span {
	width: auto;
	height: 20px;
	margin: 0 1px;
	border-bottom: 2px solid transparent;
	text-indent: -9999px;
	overflow: hidden;
	-webkit-transition: border-bottom-color .3s linear;
	-moz-transition: border-bottom-color .3s linear;
	transition: border-bottom-color .3s linear;
}

body>header>div nav#menu ul li>a:hover span {
	border-bottom-color: rgba(50, 50, 50, 0.9) !important
}

body>header>div nav#lang {
	position: absolute;
	top: 40px;
	right: 0;
	height: 20px
}

body>header>div nav#lang2 {
	position: absolute;
	top: 40px;
	right: 0;
	height: 20px
}

body>header>div nav#lang2 ul li {
	height: 24px;
	padding: 5px 5px 5px 5px;
	display: inline;
	float: left;
	background: url(../img/language_divider.png) no-repeat;
	background-position: 0px 6px;
}

body>header>div nav#lang2 ul li>a {
	height: 22px;
	font-size: medium;
	font-family: Helvetica, "Segoe UI", Tahoma, sans-serif;
	color: rgba(50, 50, 50, 0.9);
	text-decoration: none;
	text-shadow: -1px 0 rgba(200, 200, 200, 0.5), 0 1px
		rgba(200, 200, 200, 0.5), 1px 0 rgba(200, 200, 200, 0.5), 0 -1px
		rgba(200, 200, 200, 0.5);
	text-decoration: none;
}

body>header>div nav#lang2 ul li:first-child {
	background: 0
}

body>header>div nav#lang2 ul li>a span {
	width: auto;
	height: 20px;
	margin: 0 1px;
	border-bottom: 2px solid transparent;
	text-indent: -9999px;
	overflow: hidden;
	-webkit-transition: border-bottom-color .3s linear;
	-moz-transition: border-bottom-color .3s linear;
	transition: border-bottom-color .3s linear;
}

body>header>div nav#lang2 ul li>a:hover span {
	border-bottom-color: rgba(50, 50, 50, 0.9) !important
}

body>header>div nav#lang ul li {
	height: 20px;
	padding: 0 2px 0 3px;
	display: block;
	float: left;
	background: url(../img/language_divider.png) no-repeat 0 2px
}

body>header>div nav#lang ul li:first-child {
	background: 0
}

body>header>div nav#lang ul li>a {
	display: block;
	float: left;
	padding: 2px 4px 0;
	height: 18px;
	background-repeat: no-repeat;
	background-image: url(../img/language.png);
	-webkit-background-size: 20px 74px;
	-moz-background-size: 20px 74px;
	background-size: 20px 74px
}

body>header>div nav#lang ul li>a span {
	display: block;
	width: auto;
	height: 16px;
	margin: 0 1px;
	border-bottom: 2px solid transparent;
	text-indent: -9999px;
	overflow: hidden;
	-webkit-transition: border-bottom-color .3s linear;
	-moz-transition: border-bottom-color .3s linear;
	transition: border-bottom-color .3s linear
}

body>header>div nav#lang ul li>a:hover span {
	border-bottom-color: #fff !important
}

body>header>em.backimage {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 1280px;
	display: block;
	height: 100%;
	margin-left: -640px;
	background-position: 50% bottom;
	background-repeat: norepeat
}

body>header>em.bottomline {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: rgba(0, 0, 0, 0.65)
}

body>header>em.blackfade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: background-color .3s linear;
	-moz-transition: background-color .3s linear;
	transition: background-color .3s linear
}

body>header.darken>em.blackfade {
	background-color: rgba(0, 0, 0, 0.3)
}

body#pageCasa>header>em.backimage {
	background-image: url(../img/photos/headers/header_luci.jpg)
}

body#pageCamere>header>em.backimage {
	background-image: url(../img/photos/headers/header_pavimento.jpg)
}

body#pageServizi>header>em.backimage {
	background-image: url(../img/photos/headers/header_giardino.jpg)
}

body#pagePrezzi>header>em.backimage {
	background-image: url(../img/photos/headers/header_pianoforte.jpg)
}

body#pageRegolamento>header>em.backimage {
	background-image: url(../img/photos/headers/bottiglie.jpg)
}

body#pageContatti>header>em.backimage {
	background-image: url(../img/photos/headers/header_esterno.jpg)
}

body#pageGallery>header>em.backimage {
	background-image: url(../img/photos/headers/header_esterno.jpg)
}

body>header>div nav#lang ul li.it a {
	width: 15px;
	background-position: 4px 4px
}

body>header>div nav#lang ul li.en a {
	width: 19px;
	background-position: 4px -12px
}

body>header>div nav#lang ul li.de a {
	width: 19px;
	background-position: 4px -28px
}

body>header>div nav#lang ul li.fr a {
	width: 18px;
	background-position: 4px -50px
}

body>header>div nav#lang ul li.es a {
	width: 18px;
	background-position: 4px -70px
}

body.it>header>div nav#lang ul li.it a span,body.en>header>div nav#lang ul li.en a span,body.de>header>div nav#lang ul li.de a span,body.fr>header>div nav#lang ul li.fr a span
	{
	border-bottom-color: rgba(50, 50, 50, 0.9);
	border-bottom-color: rgba(255, 255, 255, 0.6)
}

body.it>header>div nav#lang2 ul li.it2 a span,body.en>header>div nav#lang2 ul li.en2 a span,body.de>header>div nav#lang2 ul li.de2 a span,body.fr>header>div nav#lang2 ul li.fr2 a span,body.es>header>div nav#lang2 ul li.es2 a span
	{
	border-bottom-color: rgba(50, 50, 50, 0.9);
	border-bottom-color: rgba(150, 150, 150, 0.6)
}

body>header>div nav#menu.casa ul li.casa a span,body>header>div nav#menu.camere ul li.camere a span,body>header>div nav#menu.servizi ul li.servizi a span,body>header>div nav#menu.prezzi ul li.prezzi a span,body>header>div nav#menu.prenotazioni ul li.prenotazioni a span,body>header>div nav#menu.contatti ul li.contatti a span
	{
	border-bottom-color: #fff;
	border-bottom-color: rgba(255, 255, 255, 0.8)
}

body>article {
	position: relative;
	width: 900px;
	margin: 0 auto;
	padding: 0 50px;
	z-index: 1
}

body>article:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

body>article>section {
	padding-top: 265px;
	padding-bottom: 40px
}

body>article>section:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

body>article>section hgroup {
	margin-bottom: 30px
}

body>article>section h1 {
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size-adjust: .492;
	font-weight: 100;
	font-style: normal;
	font-size: 34px;
	line-height: 1em;
	color: #000
}

body>article>section h2 {
	margin-top: 18px;
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size-adjust: .492;
	font-weight: 100;
	font-style: normal;
	font-size: 18px;
	line-height: 1em;
	color: #666
}

body>article>section p {
	margin-bottom: 20px;
	font-size: 16px;
	font-family: "Segoe UI", Tahoma, sans-serif;
	line-height: 1.2em;
	color: #333
}

body>article>section p strong,body>article>section p b {
	font-weight: bold
}

body>article>section p em,body>article>section p i {
	font-style: italic
}

body>article>section blockquote {
	position: relative;
	margin-top: 16px;
	padding: 0 24px;
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-style: italic;
	font-size: 16px;
	line-height: 20px;
	color: #333
}

body>article>section blockquote>em {
	position: absolute;
	top: 5px;
	right: 0;
	font-size: 36px;
	color: #666
}

body>article>section blockquote>em:first-child {
	left: 0;
	right: auto
}

body>article>section blockquote>em:last-child {
	bottom: -5px;
	top: auto
}

body>article>section blockquote strong,body>article>section blockquote b
	{
	font-weight: bold
}

body>footer {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 120px;
	background: url(../img/grid.gif) repeat 0 0
}

body>footer>div {
	position: relative;
	width: 1000px;
	height: 120px;
	margin: 0 auto
}

body>footer>div p.contact {
	position: absolute;
	top: 30px;
	left: 0;
	margin-right: 350px;
	font-size: 12px;
	line-height: 16px
}

body>footer>div p.contact strong {
	font-weight: bold
}

body>footer>div p.contact em {
	font-style: normal
}

body>footer>div p.contact a {
	color: inherit;
	text-decoration: none
}

body>footer>div p.contact a:hover {
	text-decoration: underline
}

body>footer>div p.socials {
	position: absolute;
	top: 30px;
	right: 0;
	text-align: right
}

body>footer>div p.socials>strong {
	display: inline-block;
	font-size: 12px;
	line-height: 16px
}

body>footer>div p.socials>a {
	position: relative;
	width: 32px;
	height: 32px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: top left;
	-webkit-background-size: 32px 64px;
	-moz-background-size: 32px 64px;
	background-size: 32px 64px;
	text-indent: 9999px;
	overflow: hidden
}

body>footer>div p.socials>a:hover {
	background-position: bottom left
}

body>footer>div p.socials>a.twitter {
	background-image: url(../img/social/twitter.png)
}

body>footer>div p.socials>a.facebook {
	background-image: url(../img/social/facebook.png)
}

body>footer>div p.socials>a+a {
	margin-left: 5px
}

body>footer>div p.credits {
	position: absolute;
	bottom: 20px;
	right: 0
}

body>footer>div p.credits>a {
	display: inline-block;
	padding: 2px 3px;
	font-size: 12px;
	line-height: 16px;
	color: #666;
	background-color: #f4f4f4;
	text-decoration: none
}

body>footer>div p.credits>a:hover {
	color: #fff;
	background-color: #333
}

body#pageHomepage {
	height: 100%
}

body#pageHomepage header {
	z-index: 100;
	background: 0
}

body#pageHomepage header>em.bottomline {
	display: none
}

body#pageHomepage header>em.blackfade {
	display: none;
	background: 0
}

body#pageHomepage header.darken>em.blackfade {
	background-color: rgba(0, 0, 0, 0);
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)),
		to(rgba(0, 0, 0, 0)));
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0));
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.3)', endColorstr='rgba(0, 0, 0, 0)', GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.3)',
		endColorstr='rgba(0, 0, 0, 0)', GradientType=0);
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
}

body#pageHomepage article {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #fff
}

body#pageHomepage article>section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	margin: 0;
	padding: 0
}

body#pageHomepage article>section>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover
}

body#pageHomepage article>aside {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 500px;
	max-height: 850px;
	margin: 0;
	padding: 0;
	z-index: 100
}

body#pageHomepage article>aside>div {
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	z-index: 101
}

body#pageHomepage article>aside>div p {
	position: absolute;
	right: 62px;
	height: 36px;
	margin: 0;
	padding: 9px 15px 9px 65px;
	display: inline-block;
	font-family: "Bree Thin", "Bree-Thin", Helvetica, Arial, sans-serif;
	font-size-adjust: .492;
	font-weight: 100;
	font-style: normal;
	font-size: 36px;
	line-height: 40px;
	text-align: right;
	background: rgba(255, 255, 255, 0.65);
	cursor: pointer;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	transition: background-color .2s linear
}

body#pageHomepage article>aside>div p:hover {
	background: rgba(255, 255, 255, 0.95)
}

body#pageHomepage article>aside>div p#txt1 {
	bottom: 134px
}

body#pageHomepage article>aside>div p#txt2 {
	bottom: 70px
}

body#pageCasa article>section aside {
	width: 400px;
	float: right;
	margin-right: -10px;
	padding-left: 50px
}

body#pageCasa article>section aside:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

body#pageCasa article>section aside>a {
	position: relative;
	margin: 0 10px 10px 0;
	padding: 5px;
	display: block;
	float: left;
	color: #222;
	text-align: center;
	text-decoration: none;
	background: url(../img/grid.gif) repeat 50% 50%
}

body#pageCasa article>section aside>a img {
	display: block;
	width: 180px;
	height: 135px
}

body#pageCamere article>section aside {
	width: 100%
}

body#pageCamere article>section aside>ul {
	margin-top: 30px;
	margin-right: -25px;
	margin-bottom: 30px
}

body#pageCamere article>section aside>ul:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

body#pageCamere article>section aside>ul li {
	margin-left: 20px;
	display: block;
	float: left;
	text-align: center
}

body#pageCamere article>section aside>ul li:first-child {
	margin-left: 0
}

body#pageCamere article>section aside>ul li>a {
	position: relative;
	width: 275px;
	padding: 5px;
	display: block;
	color: #222;
	text-align: center;
	text-decoration: none;
	background: url(../img/grid.gif) repeat 50% 50%
}

body#pageCamere article>section aside>ul li>a img {
	display: block;
	width: 275px;
	height: 182px
}

body#pageCamere article>section aside>ul li>a h3 {
	position: absolute;
	bottom: 15px;
	right: 5px;
	padding: 5px 10px;
	display: block;
	font-family: "Bree Thin", "Bree-Thin", Helvetica, Arial, sans-serif;
	font-size-adjust: .492;
	font-weight: 100;
	font-style: normal;
	font-size: 24px;
	line-height: 24px;
	background: rgba(255, 255, 255, 0.75);
	-webkit-transition: background-color .4s linear;
	-moz-transition: background-color .4s linear;
	transition: background-color .4s linear
}

body#pageCamere article>section aside>ul li>a:hover h3 {
	background: rgba(255, 255, 255, 0.95)
}

body#pageServizi article>section aside {
	width: 460px;
	float: right;
	margin-right: -20px;
	padding-left: 40px;
	border-left: 1px dotted #e4e4e4
}

body#pageServizi article>section aside>a {
	position: relative;
	margin: 0 20px 20px 0;
	padding: 5px;
	display: block;
	float: left;
	color: #222;
	text-align: center;
	text-decoration: none;
	background: url(../img/grid.gif) repeat 50% 50%
}

body#pageServizi article>section aside>a img {
	display: block;
	width: 200px;
	height: 200px
}

body#pageServizi article>section aside>a span {
	position: absolute;
	bottom: 15px;
	right: 5px;
	padding: 5px 10px;
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.75);
	-webkit-transition: background-color .4s linear;
	-moz-transition: background-color .4s linear;
	transition: background-color .4s linear
}

body#pageServizi article>section aside>a:hover span {
	background: rgba(255, 255, 255, 0.95)
}

body#pageServizi article>section>p,body#pageServizi article>section>ul {
	margin-right: 520px
}

body#pageServizi article>section>ul li {
	padding-left: 24px;
	margin-bottom: 10px;
	background: url(../img/icons/check.png) no-repeat 2px 3px
}

body#pageServizi article>section>ul#standard,body#pageServizi article>section>ul#extra
	{
	margin-bottom: 40px
}

body#pageServizi article>section>ul#tours {
	margin-bottom: 20px
}

body#pagePrezzi article>section table {
	margin: 40px auto 30px;
	table-layout: fixed;
	border-spacing: 5px 4px;
	width: 60%
}

body#pagePrezzi article>section table th,body#pagePrezzi article>section table td
	{
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #e4e4e4
}

body#pagePrezzi article>section table thead th {
	padding: 15px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	background: #f4f4f4;
	background: url(../img/grid.gif) repeat 50% 50%
}

body#pagePrezzi article>section table thead th:first-child {
	text-align: left;
	background: 0;
	border-top: 0;
	border-left: none;
	border: 0
}

body#pagePrezzi article>section table tbody th {
	width: 240px;
	text-align: right;
	vertical-align: bottom;
	background: #fafafa;
 
	background-repeat: no-repeat
}

body#pagePrezzi article>section table tbody th strong {
	position: relative;
	bottom: -10px;
	right: -20px;
	padding: 5px 5px 5px 10px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color: #222;
	background: rgba(255, 255, 255, 0.85)
}

body#pagePrezzi article>section table tbody tr#room1 th {
	background-image: url(../img/photos/camera_1.jpg);
	background-position: center;
	
}

body#pagePrezzi article>section table tbody tr#room2 th {
	background-image:  url(../img/photos/camera_2.jpg);
		background-position: center;
}

body#pagePrezzi article>section table tbody tr#room3 th {
	background-position: -500px bottom
}

body#pagePrezzi article>section table tbody td {
	font-size: 24px
}

body#pagePrezzi article>section table tbody td span {
	font-weight: bold
}

body#pagePrezzi article>section table tbody td em {
	display: block;
	font-size: 11px;
	line-height: 12px;
	margin-top: 5px;
	color: #999
}

body#pagePrezzi article>section table tfoot td {
	padding: 15px;
	font-size: 14px;
	font-style: italic;
	color: #999;
	text-align: left;
	border: 0
}

body#pagePrezzi article>section table tfoot td>span {
	position: relative;
	display: block;
	margin-bottom: 2px;
	padding-left: 10px
}

body#pagePrezzi article>section table tfoot td>span>sup {
	position: absolute;
	top: 0;
	left: 0
}

body#pagePrezzi article>section table tfoot td strong {
	font-weight: bold
}

body#pagePrenotazioni article>section form {
	padding: 5px;
	background: url(../img/grid.gif) repeat 50% 50%
}

body#pagePrenotazioni article>section form h3 {
	padding: 12px 20px 15px;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold
}

body#pagePrenotazioni article>section form>div {
	padding: 30px 30px;
	background: #fff
}

body#pagePrenotazioni article>section form table.wrapper {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0
}

body#pagePrenotazioni article>section form table.wrapper td {
	width: 50%;
	padding: 0;
	text-align: left;
	vertical-align: top;
	border-left: 1px solid #e4e4e4
}

body#pagePrenotazioni article>section form table.wrapper td:first-child
	{
	border: 0
}

body#pagePrenotazioni article>section form legend {
	display: block;
	font-weight: bold;
	padding-bottom: 4px
}

body#pagePrenotazioni article>section form fieldset {
	position: relative;
	margin-bottom: 20px;
	padding: 0;
	padding: 15px 0 0 0;
	border-top: 1px dotted #ddd
}

body#pagePrenotazioni article>section form fieldset .field {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	display: block;
	float: left
}

body#pagePrenotazioni article>section form fieldset .field>label {
	width: auto;
	display: block;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	color: #333
}

body#pagePrenotazioni article>section form fieldset .field>label i {
	color: #c00;
	padding-left: 3px
}

body#pagePrenotazioni article>section form fieldset .field>input,body#pagePrenotazioni article>section form fieldset .field>textarea
	{
	width: 95%;
	margin: 0;
	padding: 4px;
	display: block;
	font-size: 16px;
	line-height: 18px;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1)
}

body#pagePrenotazioni article>section form fieldset .field>input:-moz-placeholder,body#pagePrenotazioni article>section form fieldset .field>textarea:-moz-placeholder
	{
	font-family: Cambria, Georgia, Times, Times New Roman, serif;
	font-size: .9em;
	line-height: 1.2em;
	font-style: italic;
	color: #ccc
}

body#pagePrenotazioni article>section form fieldset .field>input::-webkit-input-placeholder,body#pagePrenotazioni article>section form fieldset .field>textarea::-webkit-input-placeholder
	{
	font-family: Cambria, Georgia, Times, Times New Roman, serif;
	font-size: .9em;
	line-height: 1.2em;
	font-style: italic;
	color: #ccc
}

body#pagePrenotazioni article>section form fieldset .field>input::-moz-selection,body#pagePrenotazioni article>section form fieldset .field>textarea::-moz-selection
	{
	background: #ccc;
	color: inherit
}

body#pagePrenotazioni article>section form fieldset .field>input::selection,body#pagePrenotazioni article>section form fieldset .field>textarea::selection
	{
	background: #ccc;
	color: inherit
}

body#pagePrenotazioni article>section form fieldset .field input::-webkit-outer-spin-button,body#pagePrenotazioni article>section form fieldset .field input::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0
}

body#pagePrenotazioni article>section form fieldset .field>span {
	display: block;
	margin-top: 8px
}

body#pagePrenotazioni article>section form fieldset .field>span input[type=radio],body#pagePrenotazioni article>section form fieldset .field>span input[type=checkbox]
	{
	margin-left: 5px;
	margin-right: 10px;
	float: left
}

body#pagePrenotazioni article>section form fieldset .field>span em {
	font-size: 15px;
	line-height: 16px
}

body#pagePrenotazioni article>section form fieldset .field.half {
	width: 50%
}

body#pagePrenotazioni article>section form fieldset .field.half>input,body#pagePrenotazioni article>section form fieldset .field.half>select,body#pagePrenotazioni article>section form fieldset .field.half>textarea
	{
	width: 90%
}

body#pagePrenotazioni article>section form fieldset .field table.rooms {
	width: 98%;
	table-layout: fixed;
	border-spacing: 0 6px;
	margin-bottom: 10px
}

body#pagePrenotazioni article>section form fieldset .field table.rooms th
	{
	width: 125px;
	padding: 0;
	text-align: left;
	vertical-align: middle;
	border: 0
}

body#pagePrenotazioni article>section form fieldset .field table.rooms th img
	{
	display: block;
	margin-right: 4px
}

body#pagePrenotazioni article>section form fieldset .field table.rooms td
	{
	width: auto;
	padding: 0;
	text-align: left;
	vertical-align: middle;
	background: #f4f4f4;
	border: 0
}

body#pagePrenotazioni article>section form fieldset .field table.rooms td label
	{
	margin-bottom: 4px;
	margin-left: 20px;
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold
}

body#pagePrenotazioni article>section form fieldset .field table.rooms td input
	{
	margin-left: 25px;
	margin-right: 5px
}

body#pagePrenotazioni article>section form fieldset .field table.rooms td select
	{
	width: 180px
}

body#pagePrenotazioni article>section form #fldConditions .field {
	margin-bottom: 20px
}

body#pagePrenotazioni article>section form .col1 legend,body#pagePrenotazioni article>section form .col1 fieldset
	{
	margin-right: 30px
}

body#pagePrenotazioni article>section form .col2 legend,body#pagePrenotazioni article>section form .col2 fieldset
	{
	margin-left: 30px
}

body#pagePrenotazioni article>section form fieldset .focused>label {
	color: #111
}

body#pagePrenotazioni article>section form fieldset .focused>input,body#pagePrenotazioni article>section form fieldset .focused>textarea
	{
	outline: 0;
	border-color: #777
}

body#pagePrenotazioni article>section form fieldset.submit {
	margin-top: 10px;
	margin-bottom: 0;
	padding: 30px 10px 30px 120px;
	text-align: left;
	background: #f4f4f4
}

body#pagePrenotazioni article>section form fieldset.submit a.button {
	display: block;
	width: 142px;
	height: 42px;
	text-indent: -9999px;
	overflow: hidden
}

body#pagePrenotazioni article>section form fieldset.submit a.button:hover
	{
	background-position: left bottom
}

body#pagePrenotazioni article>section form #boxFormFeedback {
	position: absolute;
	top: 32px;
	left: 290px;
	width: 400px;
	height: 20px;
	padding: 8px 35px;
	display: none;
	font-size: 12px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	border: 1px solid transparent
}

body#pagePrenotazioni article>section form #boxFormFeedback.processing {
	display: block;
	color: #666;
	background-color: #fafafa;
	border-color: #e4e4e4
}

body#pagePrenotazioni article>section form #boxFormFeedback.success {
	display: block;
	color: #6eaf1f;
	background-color: #edf5e3;
	border-color: #a0cb6c
}

body#pagePrenotazioni article>section form #boxFormFeedback.error {
	display: block;
	color: #c00;
	background-color: #fae5e5;
	border-color: #c00
}

body#pagePrenotazioni article>section form #boxFormFeedback.error a {
	color: #c00
}

body#pagePrenotazioni.it article>section form fieldset.submit a.button {
	background: url(../img/buttons/submit_it.png) no-repeat left top
}

body#pagePrenotazioni.en article>section form fieldset.submit a.button {
	background: url(../img/buttons/submit_en.png) no-repeat left top
}

body#pagePrenotazioni.de article>section form fieldset.submit a.button {
	background: url(../img/buttons/submit_de.png) no-repeat left top
}

body#pagePrenotazioni.fr article>section form fieldset.submit a.button {
	background: url(../img/buttons/submit_fr.png) no-repeat left top
}

body#pageRegolamento article>section>ul li {
	padding-left: 24px;
	margin-top: 25px;
	background: url(../img/icons/check.png) no-repeat 2px 3px
}

body#pageRegolamento article>section>ul li strong {
	font-weight: bold
}

body#pageRegolamento article>section>aside {
	width: 320px;
	margin-left: 75px;
	padding: 5px;
	float: right;
	background: url(../img/grid.gif) repeat 50% 50%
}

body#pageRegolamento article>section>aside>div {
	padding: 10px 20px;
	background: #fafafa
}

body#pageRegolamento article>section>aside>div h3 {
	margin: 15px 10px 12px 0;
	padding-bottom: 6px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1em;
	color: #000;
	border-bottom: 1px solid #e4e4e4
}

body#pageRegolamento article>section>aside>div ul li {
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 14px
}

body#pageRegolamento article>section>aside>div ul li strong {
	font-weight: bold
}

body#pageContatti article>section ul li {
	margin-top: 12px
}

body#pageContatti article>section ul li span {
	display: block;
	margin-bottom: 2px;
	font-size: 12px;
	line-height: 13px;
	font-weight: bold;
	color: #999
}

body#pageContatti article>section ul li strong {
	display: block;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold
}

body#pageContatti article>section p {
	margin-bottom: 8px
}

body#pageContatti article>section p a {
	font-weight: bold
}

body#pageContatti article>section aside {
	position: relative;
	margin-left: 75px;
	margin-bottom: 30px;
	padding: 5px;
	display: block;
	float: right;
	background: url(../img/grid.gif) repeat 50% 50%
}

body#pageContatti article>section aside:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

body#pageContatti article>section aside>img {
	display: block
}

body#pageContatti article>section #gwrap {
	width: 890px;
	margin-top: 30px;
	margin-bottom: 5px;
	padding: 5px;
	display: block;
	clear: both;
	background: url(../img/grid.gif) repeat 50% 50%
}

body#pageContatti article>section #gwrap #gmap {
	width: 100%;
	height: 300px;
	display: block;
	background: #fafafa
}

body#pageContatti article>section #gwrap+a {
	font-size: 12px;
	color: #999
}

body#pageGallery article > section > figure {
  padding: 0px 5px;
}
body#pageGallery article > section > figure > img {
  position: relative;
  width: 100%;
  height: auto;
  margin: 10px 0px;
  padding: 5px;
  display: block;
  background: url(../img/grid.gif) repeat 50% 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width:1023px) {
	body>header>div {
		width: 100%
	}
	body>footer>div {
		width: 100%
	}
	body>header>div>a {
		left: 20px
	}
	body>header>div nav#menu {
		right: 32px
	}
	body>header>div nav#lang {
		right: 30px
	}
	body>footer>div p.contact {
		left: 30px
	}
	body>footer>div p.socials,body>footer>div p.credits {
		right: 30px
	}
}

@media only screen and (min-device-width:320px) and
	(max-device-width:667px) {
	body>header {
		position: relative;
		height: auto;
	}
	body>header>div {
		width: auto;
		height: auto;
		padding-top: 100px
	}
	body>header>div>a {
		top: 25px;
		left: 15px;
		width: 290px;
		height: 65px;
		background-image: url(../img/modified/luna4.png);
		/*background-image: url(../img/logo_orizzontale@2.png);*/
		-webkit-background-size: 290px 65px;
		-moz-background-size: 290px 65px;
		background-size: 290px 65px
	}

	/*language menu bianco nella home su mobile perchè sfondo è nero*/
	body#pageHomepage>header>div nav#lang2 ul li>a {
		color: rgba(250, 250, 250, 0.9);
	}
	body#pageHomepage>header>div>a {
		background-image: url(../img/modified/luna4_white.png);
	}
	body>header>div nav#menu {
		position: relative;
		bottom: auto;
		right: auto;
		width: 100%;
		height: auto;
		background: #000;
		background: #e4e4e4;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none
	}
	body>header>div nav#menu:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0
	}
	body>header>div nav#menu span.togglerText {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		top: 10px;
		right: 10px;
		color: white;
		text-shadow: -1px 0 rgba(200, 200, 200, 0.5), 0 1px
			rgba(200, 200, 200, 0.5), 1px 0 rgba(200, 200, 200, 0.5), 0 -1px
			rgba(200, 200, 200, 0.5);
	}
	body>header>div nav#menu span.toggler {
		display: block;
		width: 100%;
		height: 40px;
		text-align: right;
		background: #000;
		opacity: 1;
		-webkit-transition: background-color .5s ease-out, opacity .5s ease-out;
		-moz-transition: background-color .5s ease-out, opacity .5s ease-out;
		transition: background-color .5s ease-out, opacity .5s ease-out;
		-webkit-background-size: 87px 80px;
		-moz-background-size: 87px 80px;
		background-size: 87px 80px
	}
	body>header>div nav#menu ul {
		overflow: hidden;
		-webkit-transition: height .5s ease-out;
		-moz-transition: height .5s ease-out;
		transition: height .5s ease-out
	}
	body>header>div nav#menu ul li {
		height: 40px;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #d4d4d4;
		border-left: 1px solid #d4d4d4
	}
	body>header>div nav#menu ul li>a {
		display: block;
		float: none;
		width: auto !important;
		height: 40px;
		padding: 0;
		/*background-image: url(../img/menu_alt@2.png);*/
	}
	body>header>div nav#menu ul li>a>span {
		/*display: none*/
		position: relative;
		vertical-align: middle;
		top: 10px;
		left: 10px;
	}
	body>header>div nav#menu.collapsed span.toggler {
		background-color: #e4e4e4;
		background-position: right top;
		opacity: .6
	}
	body>header>div nav#menu.collapsed span.togglerText {
		color: black;
	}
	body>header>div nav#menu.collapsed ul {
		height: 0
	}
	body>header>div nav#lang2 {
		top: 15px;
		right: 10px
	}
	/* 	body>header>div nav#lang2 ul li>a { */
	/* 		background-image: url(../img/language@2.png) */
	/* 	} */
	body>header>em.backimage {
		width: 100%;
		height: 100px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin-left: 0;
		background-position: center center;
		-webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		background-size: auto 100%
	}
	body>header>em.bottomline {
		top: 98px;
		height: 2px;
		bottom: auto
	}
	body>header>em.blackfade {
		display: none
	}
	body>article {
		width: auto;
		height: auto;
		padding: 0 15px
	}
	body>article>section {
		padding-top: 30px;
		padding-bottom: 20px
	}
	body>article>section h1 {
		font-size: 24px
	}
	body>footer {
		width: auto;
		height: auto
	}
	body>footer>div {
		width: auto;
		height: auto;
		padding: 20px 20px 15px
	}
	body>footer>div p.contact {
		position: relative;
		top: auto;
		left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 18px
	}
	body>footer>div p.contact strong {
		display: block;
		margin-bottom: 2px
	}
	body>footer>div p.contact span {
		display: block;
		margin-bottom: 10px
	}
	body>footer>div p.contact a {
		font-weight: bold
	}
	body>footer>div p.contact br {
		display: none
	}
	body>footer>div p.contact em {
		display: none
	}
	body>footer>div p.socials {
		position: relative;
		top: auto;
		right: auto
	}
	body>footer>div p.socials>strong {
		display: none
	}
	body>footer>div p.socials>a.twitter {
		background-image: url(../img/social/twitter@2.png)
	}
	body>footer>div p.socials>a.facebook {
		background-image: url(../img/social/facebook@2.png)
	}
	body>footer>div p.credits {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: auto
	}
	body#pageHomepage {
		background: url(../img/photos/homepage/iphone4_portrait.jpg) no-repeat
			50% 50%;
		background-attachment: fixed;
		-webkit-background-size: 320px 480px;
		-moz-background-size: 320px 480px;
		background-size: 320px 480px
	}
	body#pageHomepage>header {
		position: absolute;
		background: transparent;
		background: #000
	}
	body#pageHomepage>article {
		background: 0
	}
	body#pageHomepage>article>section>div {
		background: 0
	}
	body#pageHomepage>article>aside {
		min-height: 0;
		max-height: none
	}
	body#pageHomepage>article>aside>div {
		width: 100%
	}
	body#pageHomepage>article>aside>div p {
		right: 15px;
		height: 20px;
		margin: 0;
		padding: 5px 5px 5px 25px;
		font-size: 18px;
		line-height: 20px
	}
	body#pageCasa article>section aside {
		width: auto;
		float: none;
		margin: 20px auto 20px 0;
		padding: 0
	}
	body#pageCasa article>section aside>a {
		margin: 0 10px 10px 0
	}
	body#pageCasa article>section aside>a img {
		width: 125px;
		height: auto
	}
	body#pageCamere article>section aside>ul {
		margin: 10px auto 0
	}
	body#pageCamere article>section aside>ul li {
		margin: 0 auto 15px;
		float: none;
	}
	body#pageServizi article>section aside {
		width: auto;
		float: none;
		margin: 20px auto 20px 0;
		padding: 0;
		border: 0
	}
	body#pageServizi article>section aside>a {
		margin: 0 10px 10px 0
	}
	body#pageServizi article>section>p {
		margin-right: auto;
		clear: both
	}
	body#pageServizi article>section>ul {
		margin-right: auto
	}
	body#pagePrezzi article>section table {
		margin: 20px auto 10px;
		width: 100%
	}
	body#pagePrezzi article>section table tbody th {
		width: 55%;
		padding: 0;
		vertical-align: middle
	}
	body#pagePrezzi article>section table tbody th strong {
		position: relative;
		bottom: auto;
		right: auto;
		background: rgba(255, 255, 255, 0.6)
	}
	body#pagePrezzi article>section table tbody td {
		padding: 15px 10px;
		font-size: 20px
	}
	body#pagePrenotazioni article>section>p {
		font-size: 15px;
		line-height: 1em;
		text-align: center;
		display: none
	}
	body#pagePrenotazioni article>section>p.onlymobile {
		display: block
	}
	body#pagePrenotazioni article>section>p>a {
		width: 80%;
		margin: 20px auto;
		padding: 20px 15px;
		font-size: 24px;
		display: block;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-shadow: 0 1px 1px #f4f4f4;
		color: #555;
		border: 1px solid #ccc;
		background-color: #9f9f9f;
		background-repeat: no-repeat;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9d9d9),
			color-stop(0.5, #cacaca), to(#9f9f9f));
		background-image: -webkit-linear-gradient(#d9d9d9, color-stop(0.5, #cacaca),
			#9f9f9f);
		background-image: -moz-linear-gradient(#d9d9d9, color-stop(#cacaca, 0.5),
			#9f9f9f);
		background-image: -ms-linear-gradient(#d9d9d9, color-stop(#cacaca, 0.5),
			#9f9f9f);
		background-image: -o-linear-gradient(#d9d9d9, color-stop(#cacaca, 0.5),
			#9f9f9f);
		background-image: linear-gradient(#d9d9d9, color-stop(#cacaca, 0.5),
			#9f9f9f);
		-webkit-border-radius: 8px;
		-webkit-background-clip: padding-box;
		-moz-border-radius: 8px;
		-moz-background-clip: padding-box;
		border-radius: 8px;
		background-clip: padding-box
	}
	body#pagePrenotazioni article>section form {
		display: none
	}
	body#pageRegolamento article>section {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		display: -moz-box;
		-moz-box-orient: vertical;
		display: box;
		box-orient: vertical
	}
	body#pageRegolamento article>section>aside {
		width: auto;
		margin: 20px auto;
		float: none;
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		box-ordinal-group: 2
	}
	body#pageContatti article>section aside {
		margin: 0 auto 10px;
		float: none;
		width: 96%;
		padding: 2%
	}
	body#pageContatti article>section aside img {
		width: 100%
	}
	body#pageContatti article>section ul li span {
		color: #222
	}
	body#pageContatti article>section ul li strong a {
		display: inline-block;
		width: auto;
		margin: 0 auto 0 0;
		padding: 15px 10px;
		font-size: 18px;
		display: block;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-shadow: 0 1px 1px #f4f4f4;
		color: #555;
		border: 1px solid #ccc;
		background-color: #9f9f9f;
		background-repeat: no-repeat;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9d9d9),
			color-stop(0.5, #cacaca), to(#9f9f9f));
		background-image: -webkit-linear-gradient(#d9d9d9, color-stop(0.5, #cacaca),
			#9f9f9f);
		background-image: -moz-linear-gradient(#d9d9d9, color-stop(#cacaca, 0.5),
			#9f9f9f);
		background-image: -ms-linear-gradient(#d9d9d9, color-stop(#cacaca, 0.5),
			#9f9f9f);
		background-image: -o-linear-gradient(#d9d9d9, color-stop(#cacaca, 0.5),
			#9f9f9f);
		background-image: linear-gradient(#d9d9d9, color-stop(#cacaca, 0.5),
			#9f9f9f);
		-webkit-border-radius: 8px;
		-webkit-background-clip: padding-box;
		-moz-border-radius: 8px;
		-moz-background-clip: padding-box;
		border-radius: 8px;
		background-clip: padding-box
	}
	body#pageContatti article>section ul li:first-child strong a {
		font-size: 16px
	}
	body#pageContatti article>section #gwrap {
		display: none
	}
	body#pageContatti article>section #gwrap+a {
		display: block;
		margin: 20px auto 10px;
		padding-top: 20px;
		font-size: 13px;
		font-weight: bold;
		color: #000;
		border-top: 1px dotted #e4e4e4
	}
	body#pageCredits article>section {
		height: auto;
		text-align: center
	}
	body#pageCredits article>section>hgroup {
		text-align: left
	}
	body#pageCredits article>section>img {
		position: relative;
		top: auto;
		left: auto;
		max-width: 100%;
		height: auto
	}
	body#pageCredits article>section>ul {
		position: relative;
		top: auto;
		right: auto;
		width: 195px;
		margin: 20px auto 0
	}
	body#pageCredits article>section>ul li {
		position: relative;
		width: 195px;
		height: auto;
		margin-bottom: 30px;
		padding-left: 0;
		text-align: center
	}
	body#pageCredits article>section>ul li>span {
		position: relative;
		top: auto;
		left: auto;
		display: block;
		background-image: url(../img/credits/credits_labels@2.png);
		background-size: 195px 390px
	}
	body#pageCredits article>section>ul li>p,body#pageCredits article>section>ul li>a img
		{
		position: relative;
		left: auto;
		margin-top: 10px
	}
	body#pageCredits article>section>ul li#boxAW>a img,body#pageCredits article>section>ul li#boxCD>a img,body#pageCredits article>section>ul li#boxGHS>a img
		{
		top: auto
	}
	body#pageCredits article>section>ul li#boxBV {
		margin-top: 0
	}
	body#pageCredits article>section>ul li#boxBV>p {
		top: auto;
		font-size: 15px
	}
	body.it>header>div nav#menu ul li.casa a {
		background-position: -10px -10px
	}
	body.it>header>div nav#menu ul li.camere a {
		background-position: -210px -10px
	}
	body.it>header>div nav#menu ul li.servizi a {
		background-position: -410px -10px
	}
	body.it>header>div nav#menu ul li.prezzi a {
		background-position: -610px -10px
	}
	body.it>header>div nav#menu ul li.prenotazioni a {
		background-position: -810px -10px
	}
	body.it>header>div nav#menu ul li.contatti a {
		background-position: -1010px -10px
	}
	body.en>header>div nav#menu ul li.casa a {
		background-position: -10px -50px
	}
	body.en>header>div nav#menu ul li.camere a {
		background-position: -210px -50px
	}
	body.en>header>div nav#menu ul li.servizi a {
		background-position: -410px -50px
	}
	body.en>header>div nav#menu ul li.prezzi a {
		background-position: -610px -50px
	}
	body.en>header>div nav#menu ul li.prenotazioni a {
		background-position: -810px -50px
	}
	body.en>header>div nav#menu ul li.contatti a {
		background-position: -1010px -50px
	}
	body.de>header>div nav#menu ul li.casa a {
		background-position: -10px -90px
	}
	body.de>header>div nav#menu ul li.camere a {
		background-position: -210px -90px
	}
	body.de>header>div nav#menu ul li.servizi a {
		background-position: -410px -90px
	}
	body.de>header>div nav#menu ul li.prezzi a {
		background-position: -610px -90px
	}
	body.de>header>div nav#menu ul li.prenotazioni a {
		background-position: -810px -90px
	}
	body.de>header>div nav#menu ul li.contatti a {
		background-position: -1010px -90px
	}
	body.fr>header>div nav#menu ul li.casa a {
		background-position: -10px -130px
	}
	body.fr>header>div nav#menu ul li.camere a {
		background-position: -210px -130px
	}
	body.fr>header>div nav#menu ul li.servizi a {
		background-position: -410px -130px
	}
	body.fr>header>div nav#menu ul li.prezzi a {
		background-position: -610px -130px
	}
	body.fr>header>div nav#menu ul li.prenotazioni a {
		background-position: -810px -130px
	}
	body.fr>header>div nav#menu ul li.contatti a {
		background-position: -1010px -130px
	}
}

@media only screen and (min-device-width:320px) and
	(max-device-width:480px) and (orientation:portrait) {
	body>header>div nav#menu ul {
		height: 123px
	}
	body>header>div nav#menu ul li {
		width: 50%
	}
	body>header>div nav#menu ul li:nth-child(1),body>header>div nav#menu ul li:nth-child(3),body>header>div nav#menu ul li:nth-child(5)
		{
		border-left: none !important;
		margin-right: -1px
	}
	body#pageHomepage {
		background-image: url(../img/photos/homepage/iphone4_portrait.jpg);
		-webkit-background-size: 320px 480px;
		-moz-background-size: 320px 480px;
		background-size: 320px 480px
	}
	body#pageHomepage>article>aside>div p#txt1 {
		top: 280px;
		bottom: auto
	}
	body#pageHomepage>article>aside>div p#txt2 {
		top: 312px;
		bottom: auto
	}
	body#pageServizi article>section aside>a img {
		width: 125px;
		height: auto
	}
}

@media only screen and (min-device-width:320px) and
	(max-device-width:667px) and (orientation:landscape) {
	body>header>div nav#menu ul {
		height: 82px
	}
	body>header>div nav#menu ul li {
		width: 33%
	}
	body>header>div nav#menu ul li:nth-child(1),body>header>div nav#menu ul li:nth-child(4)
		{
		border-left: none !important
	}
	body>footer>div p.contact span:first-of-type {
		font-size: 15px
	}
	body#pageHomepage {
		background-image: url(../img/photos/homepage/iphone4_landscape.jpg);
		-webkit-background-size: 480px 320px;
		-moz-background-size: 480px 320px;
		background-size: 480px 320px
	}
	body#pageHomepage>header>div {
		padding-top: 80px
	}
	body#pageHomepage>header>div>a {
		top: 5px
	}
	body#pageHomepage>header>div nav#menu span.toggler {
		display: block;
		position: absolute;
		top: -40px;
		right: 15px;
		width: 82px;
		height: 40px;
		z-index: 2;
		background-color: transparent
	}
	body#pageHomepage>header>div nav#menu.collapsed span.toggler {
		background-color: rgba(255, 255, 255, 0.8)
	}
	body#pageHomepage>article>aside>div p#txt1 {
		top: 130px;
		bottom: auto
	}
	body#pageHomepage>article>aside>div p#txt2 {
		top: 162px;
		bottom: auto
	}
	body#pageCamere article>section aside {
		text-align: center
	}
	body#pageCamere article>section aside>ul {
		width: 285px;
		margin: 20px auto
	}
}

@media only screen and (min-device-width:768px) and
	(max-device-width:1024px) {
	body {
		min-width: 768px
	}
}

@media only screen and (min-device-width:768px) and
	(max-device-width:1024px) and (orientation:landscape) {
	body>header>div {
		width: 1000px
	}
	body>article {
		width: 900px
	}
	body>footer>div {
		width: 1000px
	}
	body>header>div>a {
		left: 20px
	}
	body>header>div nav#menu {
		right: 32px
	}
	body>header>div nav#lang {
		right: 30px
	}
	body>footer>div p.contact {
		left: 20px
	}
	body>footer>div p.socials,body>footer>div p.credits {
		right: 20px
	}
	body#pageHomepage>header>div>a {
		left: 30px
	}
	body#pageHomepage>header>div nav#menu {
		right: 62px
	}
	body#pageHomepage>header>div nav#lang {
		right: 60px
	}
	body#pageHomepage>header>div>nav#lang {
		height: 22px
	}
	body#pageHomepage>header>div>nav#lang ul li {
		height: 22px;
		background-image: url(../img/language_divider_big.png)
	}
	body#pageHomepage>header>div>nav#lang ul li:first-child {
		background: 0
	}
	body#pageHomepage>header>div>nav#lang ul li>a {
		height: 20px;
		background-image: url(../img/language_big.png);
		-webkit-background-size: 24px 106px;
		-moz-background-size: 24px 106px;
		background-size: 24px 106px
	}
	body#pageHomepage>header>div>nav#lang ul li>a span {
		height: 18px
	}
	body#pageHomepage>header>div>nav#lang ul li.it a {
		width: 17px;
		background-position: 4px 2px
	}
	body#pageHomepage>header>div>nav#lang ul li.en a {
		width: 24px;
		background-position: 4px -28px
	}
	body#pageHomepage>header>div>nav#lang ul li.de a {
		width: 22px;
		background-position: 4px -58px
	}
	body#pageHomepage>header>div>nav#lang ul li.fr a {
		width: 21px;
		background-position: 4px -88px
	}
	body#pageHomepage>header>div>nav#lang ul li.es a {
		width: 21px;
		background-position: 4px -118px
	}
	body#pageCamere article>section aside>ul li {
		margin-left: 15px
	}
	body#pageContatti article>section #gwrap {
		width: 890px
	}
}

@media only screen and (min-device-width:768px) and
	(max-device-width:1024px) and (orientation:portrait) {
	body>header>div {
		width: 760px
	}
	body>article {
		width: 700px;
		padding: 0
	}
	body>footer>div {
		width: 760px
	}
	body>header>div>a {
		left: 20px
	}
	body>header>div nav#menu {
		right: 27px
	}
	body>header>div nav#lang {
		right: 25px
	}
	body>article>section h1 {
		font-size: 30px
	}
	body>footer>div p.contact {
		left: 30px
	}
	body>footer>div p.socials,body>footer>div p.credits {
		right: 30px
	}
	body#pageHomepage>header>div>a {
		left: 30px
	}
	body#pageHomepage>header>div nav#menu {
		right: 32px
	}
	body#pageHomepage>header>div nav#lang {
		right: 30px
	}
	body#pageHomepage>header>div>nav#lang {
		height: 22px
	}
	body#pageHomepage>header>div>nav#lang ul li {
		height: 22px;
		background-image: url(../img/language_divider_big.png)
	}
	body#pageHomepage>header>div>nav#lang ul li:first-child {
		background: 0
	}
	body#pageHomepage>header>div>nav#lang ul li>a {
		height: 20px;
		background-image: url(../img/language_big.png);
		-webkit-background-size: 24px 106px;
		-moz-background-size: 24px 106px;
		background-size: 24px 106px
	}
	body#pageHomepage>header>div>nav#lang ul li>a span {
		height: 18px
	}
	body#pageHomepage>header>div>nav#lang ul li.it a {
		width: 17px;
		background-position: 4px 2px
	}
	body#pageHomepage>header>div>nav#lang ul li.en a {
		width: 24px;
		background-position: 4px -28px
	}
	body#pageHomepage>header>div>nav#lang ul li.de a {
		width: 22px;
		background-position: 4px -58px
	}
	body#pageHomepage>header>div>nav#lang ul li.fr a {
		width: 21px;
		background-position: 4px -88px
	}
	body#pageHomepage>header>div>nav#lang ul li.fr a {
		width: 21px;
		background-position: 4px -118px
	}
	body#pageHomepage>article>aside>div {
		width: 100%
	}
	body#pageServizi article>section aside {
		width: 420px;
		margin-left: 40px;
		margin-bottom: 10px
	}
	body#pageServizi article>section aside>a img {
		width: 180px;
		height: auto
	}
	body#pageServizi article>section>p,body#pageServizi article>section>ul {
		margin-right: auto
	}
	body#pageCamere article>section aside>ul li {
		margin-left: 15px
	}
	body#pageCamere article>section aside>ul li a {
		width: 210px
	}
	body#pageCamere article>section aside>ul li a img {
		width: 210px;
		height: auto
	}
	body#pagePrezzi article>section table {
		width: 90%
	}
	body#pagePrenotazioni article>section form fieldset .field table.rooms th
		{
		width: 80px;
		overflow: hidden
	}
	body#pagePrenotazioni article>section form fieldset .field table.rooms td label,body#pagePrenotazioni article>section form fieldset .field table.rooms td input
		{
		margin-left: 15px
	}
	body#pagePrenotazioni article>section form fieldset .field table.rooms td select
		{
		width: 140px
	}
	body#pagePrenotazioni article>section form fieldset.submit {
		padding-left: 40px
	}
	body#pagePrenotazioni article>section form #boxFormFeedback {
		left: 200px;
		width: 320px
	}
	body#pageContatti article>section aside {
		width: 300px;
		height: 275px;
		margin-left: 20px
	}
	body#pageContatti article>section aside>img {
		position: absolute;
		top: 5px;
		left: -65px;
		clip: rect(0px, 370px, 275px, 70px)
	}
	body#pageContatti article>section #gwrap {
		width: 690px
	}
	body#pageCredits article>section>img {
		width: 36%
	}
}
/*iphone5 protrait */
@media screen and (device-aspect-ratio: 40/71) and
	(orientation:portrait) {
	body#pageHomepage {
		background: url(../img/photos/homepage/iphone5_portrait.jpg) no-repeat 50% 50%;
		-webkit-background-size: 320px 568px;
		-moz-background-size: 320px 568px;
		background-size: 320px 568px
	}
	body#pageHomepage>header>div nav#lang2 ul li>a {
		color: rgba(250, 250, 250, 0.9);
	}
}
/*iphone5 landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation:landscape) {
	body#pageHomepage {
		background: url(../img/photos/homepage/iphone5_landscape.jpg) no-repeat 50% 50%;
		-webkit-background-size: 568px 320px;
		-moz-background-size: 568px 320px;
		background-size: 568px 320px 
	}
	body#pageHomepage>header>div nav#lang2 ul li>a {
		color: rgba(250, 250, 250, 0.9);
	}
}

/*iphone6 portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation:portrait) {
	body#pageHomepage {
		background: url(../img/photos/homepage/iphone6_portrait.jpg) no-repeat 50% 50%;
		-webkit-background-size: 375px 667px ;
		-moz-background-size: 375px 667px ;
		background-size: 375px 667px ; 
	}
	body#pageHomepage>header>div nav#lang2 ul li>a {
		color: rgba(250, 250, 250, 0.9);
	}
}


/*galaxy s4 portrait */
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation:portrait) {
	body#pageHomepage {
		background: url(../img/photos/homepage/iphone6_portrait.jpg) no-repeat 50% 50%;
		-webkit-background-size: 360px 640px ;
		-moz-background-size: 360px 640px ;
		background-size: 360px 640px ; 
	}
	body#pageHomepage>header>div nav#lang2 ul li>a {
		color: rgba(250, 250, 250, 0.9);
	}
}

/*galaxy s/s2/w portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 534px) 
and (orientation:portrait) {
	body#pageHomepage {
		background: url(../img/photos/homepage/iphone5_portrait.jpg) no-repeat 50% 50%;
		-webkit-background-size: 320px 534px ;
		-moz-background-size: 320px 534px ;
		background-size: 320px 534px ; 
	}
	body#pageHomepage>header>div nav#lang2 ul li>a {
		color: rgba(250, 250, 250, 0.9);
	}
}

/*iphone6 landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation:landscape) {
	body#pageHomepage {
		background: url(../img/photos/homepage/iphone6_landscape.jpg) no-repeat 50% 50%;
		-webkit-background-size: 667px 375px;
		-moz-background-size: 667px 375px;
		background-size: 667px 375px;
	}
	body#pageHomepage>header>div nav#lang2 ul li>a {
		color: rgba(250, 250, 250, 0.9);
	}
}



